/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Importing all components file */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: #fff9f4;
}

h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 52px;
  font-family: 'Arvo', serif;
}

h2 {
  font-size: 24px;
}
/* Custom design below! */

.txt-center{
  text-align: center;
}
